body{
    font-family: 'opne sans',sans-serif;
}
.container{
    height: 550px;
    width: 1000px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    margin: 20px auto;
    background-size: cover;
}
.calculator{
    height: 520px;
    width: 320px;
    background-color:#eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0  rgba(0, 0,0, 0.2), 0  6px 20px 0 rgba(0, 0, 0, 0.19) ;
}
