
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 500px;
    width: 500px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 30%;
    
}

label{
    
    display: flex;
    align-items: center;
    padding: 5px;

}